// 现代标准化
@import "modern-normalize/modern-normalize.css";

// 安全重置 + 表单/排版增强
@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

#app {
  height: 100%;
  background: linear-gradient(to top, #a7b7d0, #dacfdd);
}

.relative {
  position: relative;
}

.center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.justify-center {
  display: flex;
  justify-content: center;
}

.el-input-group__append {
  cursor: pointer;
}

// 生成 0 到 500，步长为 5 的宽度类（如 w-5, w-10, ..., w-500）
@for $i from 0 through 100 {
  $value: $i * 5;
  .w-#{$value} {
    width: #{$value}px;
  }
  .h-#{$value} {
    height: #{$value}px;
  }
  .m-#{$value} {
    margin: #{$value}px;
  }
  .p-#{$value} {
    padding: #{$value}px;
  }
  .mt-#{$value} {
    margin-top: #{$value}px;
  }
  .mb-#{$value} {
    margin-bottom: #{$value}px;
  }
  .ml-#{$value} {
    margin-left: #{$value}px;
  }
  .mr-#{$value} {
    margin-right: #{$value}px;
  }
  .pt-#{$value} {
    padding-top: #{$value}px;
  }
  .pb-#{$value} {
    padding-bottom: #{$value}px;
  }
  .pl-#{$value} {
    padding-left: #{$value}px;
  }
  .pr-#{$value} {
    padding-right: #{$value}px;
  }
}
